# ----------------------------------------------------------------------
# Standard Ignore Rules for Node.js and React Applications
# ----------------------------------------------------------------------
... (all the content)
